<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fleet Repair Solutions Customer Repair Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 -->
    <link href="./newassets/css/bootstrap.css" rel="stylesheet">
    <link href="./newassets/css/application.css" rel="stylesheet">
    <link href="./newassets/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">


    <link href="./bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--    <script src="./Justified Nav Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>
-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style type="text/css">
    .container {
      width: 1400px !important;
    }

    .btn-xs {
      padding: 0px 0px;
      font-size: 12px;
      border-radius: 8px;
    }
    </style>

    <link href="logosheenstyle.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="./theme.blue.css">
 </head>
<body style="background:url('./lightAmerican-Flag-Christian-Stock-Images.jpg')">

  <script type="text/template" id="trailer-list-none">
    <td colspan="11">No trailers to display.</td>
  </script>

  <script type="text/template" id="trailer-list-layout">
    <div id="panel-region"></div>
    <div id="trailers-region"></div>
  </script>

  <script type="text/template" id="trailer-list-item">
    <td><%- unitnumber %></td>
    <td><%- issue %></td>
    <td><%- location %></td>
    <td><%- requestedby %></td>
    <td><%- assignedto %></td>
    <td><%- startdate %></td>
    <td><%- duedate %></td>
    <td><%- percentcomplete %></td>
    <td><img src="./<%- status %>" /></td>
    <td><%- dateapproved %></td>
    <td>
      <a href="#trailers/<%- id %>/edit" class="btn btn-xs btn-danger js-edit">
        <i class="icon-pencil"></i>
        Edit
      </a>
    </td>
    <td>
      <button class="btn btn-xs btn-danger js-delete">
        <i class="icon-remove"></i>
        Delete
      </button>
    </td>
  </script>

<script type="text/template" id="new-user-form">
   <div class="container">
    <div class="row">
      <form accept-charset="UTF-8" role="form">
       <div  class="col-sm-6">
   
          <div class="panel panel-danger">
             <div class="panel-heading">Create New User Account</div>
             <div class="panel-body" style="height: 300px;">
                <fieldset>
                   <div>
                      <input placeholder="E-mail" name="email" type="text">
                   </div>
                   <div>
                      <input placeholder="E-mail (Confirmation)" name="emailconfirmation" type="text">
                   </div>
                   <div>
                      <input placeholder="Password" name="password" type="text" value="">
                   </div>
                   <div>
                      <input placeholder="Password (Confirmation)" name="passwordconfirmation" type="text" value="">
                   </div>
                   <div>
                      <input placeholder="Customer" name="customer" type="text" value="">
                   </div>
                </fieldset>
             </div>
             <div class="panel-footer"><input class="btn btn-lg btn-danger btn-block js-submit" type="submit" value="Create User Account"></div>
          </div>

       </div>
       <div  class="col-sm-6">
   

          <div class="panel panel-danger">
             <div class="panel-heading">Current User Accounts</div>
             <div class="panel-body" style="height: 300px;">
                <fieldset>
                   <div>
                      <select size="13"  style="width: 200px;" id="chatusers">
                        <option value="rpierich@fleetrep.com">rpierich@fleetrep.com</option>
                        <option value="VapeExpert@fleetrep.com">VapeExpert@fleetrep.com</option>
                        <option value="Cameron@fleetrep.com">Cameron@fleetrep.com</option>
                        <option value="Lev@fleetrep.com">Lev@fleetrep.com</option>
                        <option value="Boedy@fleetrep.com">Boedy@fleetrep.com</option>
                        <option value="WonderBoy@fleetrep.com">WonderBoy@fleetrep.com</option>
                        <option value="Injection@fleetrep.com">Injection@fleetrep.com</option>
                     </select>
                   </div>
                </fieldset>
             </div>
             <div class="panel-footer"><input class="btn btn-lg btn-danger btn-block js-deleteuser" type="submit" value="Delete User Account" /><input class="btn btn-lg btn-danger btn-block js-resetuserpassword" type="submit" value="Reset User Account Password" /></div>
          </div>



       </div>
     </form>
    </div>
   </div>
</script>

  <script type="text/template" id="trailer-list">
    <thead>
      <tr>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="left">Unit #<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Issue<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Location<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Requested by<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Assigned To<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Start Date<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Due Date<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">% Complete<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Status<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort This Column!" data-placement="top">Date Approved<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
          <th></th>
          <th></th>
      </tr>
   </thead>
   <tbody id="fbody">

   </tbody>
  </script>






 <div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div  class="col-sm-12">
            <h3>
              <div id="banner" class="pull-left">
                <div class="sheen"></div>
                <img src="./fleetreplogo.jpg" class="logo">
              </div>
            </h3>
          </div>
        </div>
      </div>
      <script>
        setTimeout(function() {
          //alert("shimmering");
          document.getElementById('banner').className = 'loaded pull-left';
        }, 50);
      </script>
      <nav>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
     <div class="panel-group" id="app-container">
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Repair Portal</b>&nbsp;&nbsp;&nbsp;<input id="searchInput" placeholder="Type To Filter The Table"></div>

           <div class="panel-body" id="table-region">

           </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Repair Portal User Functions</b></div>
           <div class="panel-body" id="user-admin-region">
              <div class="container">
                 <div class="row">
                    <div  class="col-sm-6">

                    </div>
                    <div  class="col-sm-6">

                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Repair Portal Graphs</b></div>
           <div class="panel-body">
              <div class="container">
                 <div class="row">
                    <div  class="col-sm-6">
                       <div id="chart" style="width:600px;height:400px;"></div>
                    </div>
                    <div  class="col-sm-6">
                       <div id="linechart" style="width:600px;height:400px;"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Repair Portal Graphs</b></div>
           <div class="panel-body">
              <div class="container">
                 <div class="row">
                    <div  class="col-sm-6">
                       <div id="piechart" style="width:600px;height:400px;"></div>
                    </div>
                    <div  class="col-sm-6">
                       <div id="scatterchart" style="width:600px;height:400px;"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <script>
        window.onload1 = function () {
        
        wins = [[0,13],[1,11],[2,15],[3,15],[4,18],[5,21],[6,28]];
        var years = [
            [0, "2006"],
            [1, "2007"],
            [2, "2008"],
            [3, "2009"],
            [4, "2010"],
            [5, "2011"],
            [6, "2012"],
        ];
        Flotr.draw(document.getElementById("chart"),[wins], {
          title: "Manchester City Wins",
          colors: ["#89AFD2"],
            bars: {
                show: true,
                barWidth: 0.5,
                shadowSize: 0,
                fillOpacity: 1,
                lineWidth: 0,
            },
            yaxis: {
                min: 0,
                tickDecimals: 0,
            },
            xaxis: {
                ticks: years,
            },
            grid: {
                horizontalLines: false,
                verticalLines: false,
            }
        });
            
        };
        
     </script>
     <script>
        window.onload2 = function () {

        var co2 = [
            [ 1959, 315.97 ],
            [ 1960, 316.91 ],
            [ 1961, 317.64 ],
            [ 1962, 318.45 ],
            [ 1963, 318.99 ],
            [ 1964, 319.62 ],
            [ 1965, 320.04 ],
            [ 1966, 321.38 ],
            [ 1967, 322.16 ],
            [ 1968, 323.04 ],
            [ 1969, 324.62 ],
            [ 1970, 325.68 ],
            [ 1971, 326.32 ],
            [ 1972, 327.45 ],
            [ 1973, 329.68 ],
            [ 1974, 330.18 ],
            [ 1975, 331.08 ],
            [ 1976, 332.05 ],
            [ 1977, 333.78 ],
            [ 1978, 335.41 ],
            [ 1979, 336.78 ],
            [ 1980, 338.68 ],
            [ 1981, 340.10 ],
            [ 1982, 341.44 ],
            [ 1983, 343.03 ],
            [ 1984, 344.58 ],
            [ 1985, 346.04 ],
            [ 1986, 347.39 ],
            [ 1987, 349.16 ],
            [ 1988, 351.56 ],
            [ 1989, 353.07 ],
            [ 1990, 354.35 ],
            [ 1991, 355.57 ],
            [ 1992, 356.38 ],
            [ 1993, 357.07 ],
            [ 1994, 358.82 ],
            [ 1995, 360.80 ],
            [ 1996, 362.59 ],
            [ 1997, 363.71 ],
            [ 1998, 366.65 ],
            [ 1999, 368.33 ],
            [ 2000, 369.52 ],
            [ 2001, 371.13 ],
            [ 2002, 373.22 ],
            [ 2003, 375.77 ],
            [ 2004, 377.49 ],
            [ 2005, 379.80 ],
            [ 2006, 381.90 ],
            [ 2007, 383.77 ],
            [ 2008, 385.59 ],
            [ 2009, 387.37 ],
            [ 2010, 389.85 ],
            [ 2011, 391.62 ],
        ];
        var temp = [
            [ 1959,  0.0776 ],
            [ 1960,  0.0280 ],
            [ 1961,  0.1028 ],
            [ 1962,  0.1289 ],
            [ 1963,  0.1469 ],
            [ 1964, -0.1171 ],
            [ 1965, -0.0523 ],
            [ 1966,  0.0063 ],
            [ 1967,  0.0219 ],
            [ 1968,  0.0093 ],
            [ 1969,  0.1139 ],
            [ 1970,  0.0684 ],
            [ 1971, -0.0315 ],
            [ 1972,  0.0558 ],
            [ 1973,  0.1909 ],
            [ 1974, -0.0527 ],
            [ 1975,  0.0172 ],
            [ 1976, -0.0753 ],
            [ 1977,  0.1779 ],
            [ 1978,  0.0990 ],
            [ 1979,  0.1856 ],
            [ 1980,  0.2301 ],
            [ 1981,  0.2701 ],
            [ 1982,  0.1521 ],
            [ 1983,  0.3170 ],
            [ 1984,  0.1259 ],
            [ 1985,  0.1065 ],
            [ 1986,  0.1956 ],
            [ 1987,  0.3293 ],
            [ 1988,  0.3407 ],
            [ 1989,  0.2659 ],
            [ 1990,  0.3988 ],
            [ 1991,  0.3757 ],
            [ 1992,  0.2323 ],
            [ 1993,  0.2621 ],
            [ 1994,  0.3245 ],
            [ 1995,  0.4473 ],
            [ 1996,  0.3170 ],
            [ 1997,  0.5117 ],
            [ 1998,  0.6286 ],
            [ 1999,  0.4525 ],
            [ 2000,  0.4264 ],
            [ 2001,  0.5496 ],
            [ 2002,  0.6121 ],
            [ 2003,  0.6211 ],
            [ 2004,  0.5779 ],
            [ 2005,  0.6510 ],
            [ 2006,  0.5977 ],
            [ 2007,  0.5923 ],
            [ 2008,  0.5134 ],
            [ 2009,  0.5985 ],
            [ 2010,  0.6621 ],
            [ 2011,  0.5362 ],
        ];
        var zero = []
        for (yr=1959; yr<2012; yr++) { zero.push([yr, 0]); };
        Flotr.draw(
            document.getElementById("linechart")
            ,[
                { data: zero, label: "20<sup>th</sup> Century Baseline Temperature", lines: {show:true, lineWidth: 1}, shadowSize: 0, color: "#545454" },
                { data: temp, label: "Yearly Temperature Difference (°C)", lines: {show:true}},
                { data: co2, label: "CO<sub>2</sub> Concentration (ppm)", lines: {show:true}, yaxis: 2 },
             ]
            ,{
                title: "Global Temperature and CO<sub>2</sub> Concentration (NOAA Data)",
                grid: {horizontalLines: false, verticalLines: false},
                y2axis: {min: 300, max: 400},
                yaxis: {min: -0.15, max: 0.69,
                        tickFormatter: function(val) {return val+" °C";}},
             }
        );
        
            
        };
        
     </script>
     <script>

        window.onload3 = function () {

            data = [
                {data: [[0,22.4]], label: "Extreme Poverty"},
                {data: [[1,77.6]], label: "Rest of the World"}
            ];
            Flotr.draw(document.getElementById("piechart"),data, {
                title: "How Much of the World Lives on $1.25/day?",
                pie: {
                    show: true,
                },
                yaxis: {
                    showLabels: false,
                },
                xaxis: {
                    showLabels: false,
                },
                grid: {
                    horizontalLines: false,
                    verticalLines: false,
                }
            });
        };

    </script>
    <script>
       window.onload = function () {
          window.onload1();
          window.onload2();
          window.onload3();
       
       var pacific_data = [
           {  country: "Australia",       spending:  9.1,  life: 81.8  },
           {  country: "New Zealand",     spending: 10.1,  life: 81.0  },
       ];
       var europe_data = [
           {  country: "Austria",         spending: 11.0,  life: 80.7  },
           {  country: "Belgium",         spending: 10.5,  life: 80.3  },
           {  country: "Czech Republic",  spending:  7.5,  life: 77.7  },
           {  country: "Denmark",         spending: 11.1,  life: 79.3  },
           {  country: "Estonia",         spending:  6.3,  life: 75.6  },
           {  country: "Finland",         spending:  8.9,  life: 80.2  },
           {  country: "France",          spending: 11.6,  life: 81.3  },
           {  country: "Germany",         spending: 11.6,  life: 80.5  },
           {  country: "Greece",          spending: 10.2,  life: 80.6  },
           {  country: "Hungary",         spending:  7.8,  life: 74.3  },
           {  country: "Iceland",         spending:  9.3,  life: 81.5  },
           {  country: "Ireland",         spending:  9.2,  life: 81.0  },
           {  country: "Italy",           spending:  9.3,  life: 82.0  },
           {  country: "Luxembourg",      spending:  7.9,  life: 80.7  },
           {  country: "Netherlands",     spending: 12.0,  life: 80.8  },
           {  country: "Norway",          spending:  9.4,  life: 81.2  },
           {  country: "Poland",          spending:  7.0,  life: 76.3  },
           {  country: "Portugal",        spending: 10.7,  life: 79.8  },
           {  country: "Slovak Republic", spending:  9.0,  life: 75.2  },
           {  country: "Slovenia",        spending:  9.0,  life: 79.5  },
           {  country: "Spain",           spending:  9.6,  life: 82.2  },
           {  country: "Sweden",          spending:  9.6,  life: 81.5  },
           {  country: "Switzerland",     spending: 11.4,  life: 82.6  },
           {  country: "Turkey",          spending:  6.1,  life: 74.3  },
           {  country: "United Kingdom",  spending:  9.6,  life: 80.6  },
       ];
       var americas_data = [
           {  country: "Canada",          spending: 11.4,  life: 80.8  },
           {  country: "Chile",           spending:  8.0,  life: 79.0  },
           {  country: "Mexico",          spending:  6.2,  life: 75.5  },
           {  country: "United States",   spending: 17.6,  life: 78.7  },
       ];
       var mideast_data = [
           {  country: "Israel",          spending:  7.5,  life: 81.7  },
       ];
       var asia_data = [
           {  country: "Japan",           spending:  9.5,  life: 83.0  },
           {  country: "Korea",           spending:  7.1,  life: 80.7  },
       ];
       var us_data = [
           {  country: "United States",   spending: 17.6,  life: 78.7  },
       ];
       var pacific=[], europe=[], americas=[], mideast=[], asia=[], us=[];
       for (i = 0; i < pacific_data.length; i++) {
           pacific.push([ pacific_data[i].spending, pacific_data[i].life ]);
       }
       for (i = 0; i < europe_data.length; i++) {
           europe.push([ europe_data[i].spending, europe_data[i].life ]);
       }
       for (i = 0; i < americas_data.length; i++) {
           americas.push([ americas_data[i].spending, americas_data[i].life ]);
       }
       for (i = 0; i < mideast_data.length; i++) {
           mideast.push([ mideast_data[i].spending, mideast_data[i].life ]);
       }
       for (i = 0; i < asia_data.length; i++) {
           asia.push([ asia_data[i].spending, asia_data[i].life ]);
       }
       for (i = 0; i < us_data.length; i++) {
           us.push([ us_data[i].spending, us_data[i].life ]);
       }
       Flotr.draw(
           document.getElementById("scatterchart")
           ,[
               { data: pacific,  label: "Pacific", points: {show:true} },
               { data: europe,   label: "Europe", points: {show:true} },
               { data: americas, label: "Americas", points: {show:true} },
               { data: mideast,  label: "Middle East", points: {show:true} },
               { data: asia,     label: "Asia", points: {show:true} },
               { data: us,       label: "United States", points: {show:true} },
           ]
           ,{
               title: "Life Expectancy vs. Health Care Spending",
               subtitle: "(by Country, 2010 OECD data)",
               xaxis: {min: 5, max: 25, tickDecimals: 0, title: "Spending as Percentage of GDP", tickFormatter: function(val) {return val+"%"}},
               yaxis: {min: 70, max: 85, tickDecimals: 0, title: "Years"},
               legend: {position: "ne"},
           }
       );
           
       };
       
           
    </script>
     
     <!--[if lt IE 9]><script src="./excanvas.min.js"></script><![endif]-->
     <script src="./flotr2.min.js"></script>
     <!-- Site footer -->
     <footer class="footer">
        <p>© Fleet Repair Solutions 2015</p>
     </footer>
  </div>

<!-- /container -->



  <script src="./newassets/js/vendor/jquery.js"></script>
  <script src="./newassets/js/vendor/jquery-ui-1.10.3.js"></script>
  <script src="./newassets/js/vendor/json2.js"></script>
  <script src="./newassets/js/vendor/underscore.js"></script>
  <script src="./newassets/js/vendor/backbone.js"></script>
  <script src="./newassets/js/vendor/backbone.picky.js"></script>
  <script src="./newassets/js/vendor/backbone.syphon.js"></script>
  <script src="./newassets/js/vendor/backbone.localstorage.js"></script>
  <script src="./newassets/js/vendor/backbone.marionette.js"></script>
  <script src="./newassets/js/vendor/spin.js"></script>
  <script src="./newassets/js/vendor/spin.jquery.js"></script>
  <script src="./jquery.tablesorter.combined.js"></script>

  <script src="./newassets/js/app.js"></script>
  <script src="./newassets/js/apps/config/localstorage.js"></script>

  <script src="./newassets/js/entities/trailer.js"></script>

  <script src="./newassets/js/apps/trailers/list/list_view.js"></script>
  <script src="./newassets/js/apps/trailers/list/list_controller.js"></script>
  <script src="./newassets/js/apps/trailers/trailers_app.js"></script>

  <script src="./newassets/js/apps/user/new/new_view.js"></script>
  <script src="./newassets/js/apps/user/new/new_controller.js"></script>
  <script src="./newassets/js/apps/user/user_app.js"></script>

  <script type="text/javascript">
    FleetRepManager.start();
  </script>

  <script type="text/javascript">
    $(function(){
      $("#myTable").tablesorter();
      $("#searchInput").keyup(function () {
          var rows = $("#fbody").find("tr").hide();
          if (this.value.length) {
              var data = this.value.split(" ");
              $.each(data, function (i, v) {
                  rows.filter(":contains('" + v + "')").show();
              });
          } else rows.show();
      });

      $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>

</body>
</html>
