<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fleet Repair Solutions Customer Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 -->

    <link href="./newassets/css/bootstrap.css" rel="stylesheet">
    <link href="./newassets/css/application.css" rel="stylesheet">
    <link href="./newassets/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">

    <!-- Styles tooltips ith white background -->
    <link rel="stylesheet" href="./jquery-ui.css">

    <link href="./bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--    <script src="./Justified Nav Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>
-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style type="text/css">
    .container {
      width: 1400px !important;
    }

    .btn-xs {
      padding: 0px 0px;
      font-size: 12px;
      border-radius: 8px;
    }
    </style>

    <link href="logosheenstyle.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="./theme.blue.css">
    <link rel="stylesheet" type="text/css" href="./tooltip-classic.css" />
 </head>
<body style="background:url('./lightAmerican-Flag-Christian-Stock-Images.jpg')">

  <script type="text/template" id="trailer-list-none">
    <td colspan="11">No trailers to display.</td>
  </script>

  <script type="text/template" id="trailer-list-layout">
    <div id="panel-region"></div>
    <div id="trailers-region"></div>
  </script>

  <script type="text/template" id="trailer-list-item">
    <td>
       <span class="tooltip tooltip-effect-4" style="opacity: 1;">
          <span style="color:black;" class="tooltip-item"><%- unitnumber %></span>
          <span class="tooltip-content clearfix">
            <img src="./littlefleetreplogo.png">
            <span class="tooltip-text">
                <%- tooltipnote %>
            </span>
          </span>
        </span>
    </td>
    <td><%- issue %></td>
    <td><%- location %></td>
    <td><%- requestedby %></td>
    <td><%- assignedto %></td>
    <td><%- startdate %></td>
    <td><%- duedate %></td>
    <td><%- percentcomplete %></td>
    <td><img src="./<%- status %>" /><%- status == "greenlight.png"? "Completed" : (status == "yellowlight.png"? "EIP" : "WIP") %></td>
    <td><%- dateapproved %></td>
    <td>
      <a href="#trailers/<%- id %>/edit" class="btn btn-xs js-edit" style="background-color: #0205f6; color: white;">
        <i class="icon-pencil"></i>
        Edit
      </a>
    </td>
    <td>
      <button class="btn btn-xs btn-danger js-delete">
        <i class="icon-remove"></i>
        Delete
      </button>
    </td>
  </script>

<script type="text/template" id="new-user-form">
   <div class="container">
    <div class="row">
      <form accept-charset="UTF-8" role="form">
       <div  class="col-sm-6">
   
          <div class="panel panel-danger">
             <div class="panel-heading">Create New User Account</div>
             <div class="panel-body" style="height: 300px;">
                <fieldset>
                   <div>
                      <input placeholder="E-mail" name="email" type="text">
                   </div>
                   <div>
                      <input placeholder="E-mail (Confirmation)" name="emailconfirmation" type="text">
                   </div>
                   <div>
                      <input placeholder="Password" name="password" type="text" value="">
                   </div>
                   <div>
                      <input placeholder="Password (Confirmation)" name="passwordconfirmation" type="text" value="">
                   </div>
                   <div>
                      <input placeholder="Customer" name="customer" type="text" value="">
                   </div>
                </fieldset>
             </div>
             <div class="panel-footer"><input class="btn btn-lg btn-danger btn-block js-submit" type="submit" value="Create User Account"></div>
          </div>

       </div>
       <div  class="col-sm-6">
   

          <div class="panel panel-danger">
             <div class="panel-heading">Current User Accounts</div>
             <div class="panel-body" style="height: 300px;">
                <fieldset>
                   <div>
                      <select size="13"  style="width: 200px;" id="chatusers">
                        <option value="rpierich@fleetrep.com">rpierich@fleetrep.com</option>
                        <option value="VapeExpert@fleetrep.com">VapeExpert@fleetrep.com</option>
                        <option value="Cameron@fleetrep.com">Cameron@fleetrep.com</option>
                        <option value="Lev@fleetrep.com">Lev@fleetrep.com</option>
                        <option value="Boedy@fleetrep.com">Boedy@fleetrep.com</option>
                        <option value="WonderBoy@fleetrep.com">WonderBoy@fleetrep.com</option>
                        <option value="Injection@fleetrep.com">Injection@fleetrep.com</option>
                     </select>
                   </div>
                </fieldset>
             </div>
             <div class="panel-footer"><input class="btn btn-lg btn-danger btn-block js-deleteuser" type="submit" value="Delete User Account" /><input class="btn btn-lg btn-danger btn-block js-resetuserpassword" type="submit" value="Reset User Account Password" /></div>
          </div>



       </div>
     </form>
    </div>
   </div>
</script>

<script type="text/template" id="reset-user-password-form">
   <div class="container">
    <div class="row">
      <form accept-charset="UTF-8" role="form">
       <div  class="col-sm-6">
   
          <div class="panel panel-danger">
             <div class="panel-heading">Reset User Password</div>
             <div class="panel-body" style="height: 300px;">
                <fieldset>
                   <div>
                      Username:  <b>rpierich@hotmail.com</b>
                   </div>
                   <div>
                      <input placeholder="Temporary Password" name="password" type="text" value="">
                   </div>
                   <div>
                      <input placeholder="Temporary Password (Confirmation)" name="passwordconfirmation" type="text" value="">
                   </div>
                </fieldset>
             </div>
             <div class="panel-footer"><input class="btn btn-lg btn-danger btn-block js-submit" type="submit" value="Reset User Password"></div>
          </div>

       </div>
       <div  class="col-sm-6">
   

          <div class="panel panel-danger">
             <div class="panel-heading"><b>Note</b></div>
             <div class="panel-body" style="height: 300px;">
                <p><b>*note*</b>  An email will be sent to this user to reset their password.  You will need to call them and tell them their temporary password.  Email is not encrypted and anything sent via email can be seen by anyone.</p>
             </div>
             <div class="panel-footer"><input class="btn btn-lg btn-danger btn-block js-canceluserreset" type="submit" value="Cancel Reset" /></div>
          </div>



       </div>
     </form>
    </div>
   </div>
</script>

  <script type="text/template" id="trailer-list">
    <thead>
      <tr>
         <th><a href="#" data-toggle="tooltip" title="Sort By Unit #!" data-placement="left">Unit #<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Issue!" data-placement="top">Issue<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Location!" data-placement="top">Location<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Requested by!" data-placement="top">Requested by<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Assigend To!" data-placement="top">Assigned To<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Start Date!" data-placement="top">Start Date<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Due Date!" data-placement="top">Due Date<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By % Complete!" data-placement="top">% Complete<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Status!" data-placement="top">Status<div style="width:100px;"></div><span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
         <th><a href="#" data-toggle="tooltip" title="Sort By Date Approved!" data-placement="top">Date Approved<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></a></th>
          <th></th>
          <th></th>
      </tr>
   </thead>
   <tbody id="fbody">

   </tbody>
  </script>






 <div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div  class="col-sm-12">
            <h3>
              <div id="banner" class="pull-left">
                <div class="sheen"></div>
                <img src="./fleetreplogo.jpg" class="logo">
              </div>
            </h3>
          </div>
        </div>
      </div>
      <script>
        setTimeout(function() {
          //alert("shimmering");
          document.getElementById('banner').className = 'loaded pull-left';
        }, 50);
      </script>
      <nav>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
     <div class="panel-group" id="app-container">
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Portal</b>&nbsp;&nbsp;&nbsp;<input id="searchInput" placeholder="Type To Filter The Table"></div>

           <div class="panel-body" id="table-region">

           </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Portal User Functions</b></div>
           <div class="panel-body" id="user-admin-region">
              <div class="container">
                 <div class="row">
                    <div  class="col-sm-6">

                    </div>
                    <div  class="col-sm-6">

                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-heading" style="color: black;"><b>Fleet Repair Solutions Customer Portal Graphs</b></div>
           <div class="panel-body">
              <div class="container">
                 <div class="row">
                    <div  class="col-sm-6">
                       <div id="piechart" style="width:600px;height:400px;"></div>

                    </div>
                    <div  class="col-sm-6">
                       <div id="barchart" style="width:600px;height:400px;"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <script>
        window.onload1 = function () {
        
        wins = [[0,13],[1,11],[2,15],[3,15],[4,18],[5,21],[6,28]];
        var years = [
            [0, "2006"],
            [1, "2007"],
            [2, "2008"],
            [3, "2009"],
            [4, "2010"],
            [5, "2011"],
            [6, "2012"],
        ];
        Flotr.draw(document.getElementById("barchart"),[wins], {
          title: "Manchester City Wins",
          colors: ["#89AFD2"],
            bars: {
                show: true,
                barWidth: 0.5,
                shadowSize: 0,
                fillOpacity: 1,
                lineWidth: 0,
            },
            yaxis: {
                min: 0,
                tickDecimals: 0,
            },
            xaxis: {
                ticks: years,
            },
            grid: {
                horizontalLines: false,
                verticalLines: false,
            }
        });
            
        };
        
     </script>
     <script>

        window.onload = function () {
            window.onload1();

            data = [
                {data: [[0,22.4]], label: "Extreme Poverty"},
                {data: [[1,77.6]], label: "Rest of the World"}
            ];
            Flotr.draw(document.getElementById("piechart"),data, {
                title: "How Much of the World Lives on $1.25/day?",
                pie: {
                    show: true,
                },
                yaxis: {
                    showLabels: false,
                },
                xaxis: {
                    showLabels: false,
                },
                grid: {
                    horizontalLines: false,
                    verticalLines: false,
                }
            });
        };

    </script>

     <!--[if lt IE 9]><script src="./excanvas.min.js"></script><![endif]-->
     <script src="./flotr2.min.js"></script>
     <!-- Site footer -->
     <footer class="footer">
        <p>© Fleet Repair Solutions 2015</p>
     </footer>
  </div>

<!-- /container -->



  <script src="./newassets/js/vendor/jquery.js"></script>
  <script src="./newassets/js/vendor/jquery-ui-1.10.3.js"></script>
  <script src="./newassets/js/vendor/json2.js"></script>
  <script src="./newassets/js/vendor/underscore.js"></script>
  <script src="./newassets/js/vendor/backbone.js"></script>
  <script src="./newassets/js/vendor/backbone.picky.js"></script>
  <script src="./newassets/js/vendor/backbone.syphon.js"></script>
  <script src="./newassets/js/vendor/backbone.localstorage.js"></script>
  <script src="./newassets/js/vendor/backbone.marionette.js"></script>
  <script src="./newassets/js/vendor/spin.js"></script>
  <script src="./newassets/js/vendor/spin.jquery.js"></script>
  <script src="./jquery.tablesorter.combined.js"></script>

  <script src="./newassets/js/app.js"></script>
  <script src="./newassets/js/apps/config/localstorage.js"></script>

  <script src="./newassets/js/entities/trailer.js"></script>

  <script src="./newassets/js/apps/trailers/list/list_view.js"></script>
  <script src="./newassets/js/apps/trailers/list/list_controller.js"></script>
  <script src="./newassets/js/apps/trailers/trailers_app.js"></script>

  <script src="./newassets/js/apps/user/new/new_view.js"></script>
  <script src="./newassets/js/apps/user/new/new_controller.js"></script>
  <script src="./newassets/js/apps/user/new/resetpassword_view.js"></script>
  <script src="./newassets/js/apps/user/new/resetpassword_controller.js"></script>
  <script src="./newassets/js/apps/user/user_app.js"></script>

  <script type="text/javascript">
    FleetRepManager.start();
  </script>

  <script type="text/javascript">
    $(function(){
      $("#myTable").tablesorter();
      $("#searchInput").keyup(function () {
          var rows = $("#fbody").find("tr").hide();
          if (this.value.length) {
              var data = this.value.split(" ");
              $.each(data, function (i, v) {
                  rows.filter(":contains('" + v + "')").show();
              });
          } else rows.show();
      });

      $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
  <script>
    $(function() {
      $( document ).tooltip();
    });
  </script>
</body>
</html>
